.menu{
    width: 20%;
    float: left;
    height: 300px;
    border: 10px solid saddlebrown;
    white-space: normal;
    background-image: url(../images/menu.jpg);
    line-height: 40px;
}
div{
    width: 77%;
    float: left;
    border: 10px solid rgb(8, 224, 196);
    background-color: rgb(129, 151, 76);
}

footer{
    float: left;
    width: 99%;
    border: 10px solid rgb(28, 4, 248);
    height: auto;
}