#portada{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
}

header{
    width: 99%;
    height: 150px;
    border: 10px solid green;
    background-image: url("../images/portada.jpg");
    }

div img{
        max-width: 100%;
        height: auto;
    }

body{
    background-image: url("..//images/portada.jpg")
}

div h4{
    text-align: center;
    border:5px solid rgb(0, 255, 128);
}
div p{
    text-align: justify;
    border: 5px double salmon;
}